


@{
    @model List<ArtModel.Artist>;
}
<div class="text-center">
    <h1 class="display-4">Artists</h1>
    <p>Learn More About Our Contributing Artists and View Their Work</p>
</div>



@{
    ViewData["Title"] = "Artists";
}
<table class="table">
    <thead>
        <tr>
            <th>
              Artist Name
            </th>
          
            <th>
               Arstist Statement
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistStatement)
                </td>
                <td>
                    @Html.ActionLink("Gallery", "Gallery","Art", new { id = item.Id })
                </td>
            </tr>
        }
        </tbody>
</table>
