


@{
    @model List<decoratedArt>;
}
<div class="text-center">
    <h1 class="display-4">Oh No!</h1>
    <p>Something Went Wrong with your Art Submission.</p>
</div>



@{
    ViewData["Title"] = "Art";
}

<h2>Please Try Again</h2>


