


@{
    @model List<ArtModel.Artist>;
}
<div class="text-center">
    <h1 class="display-4">Artists</h1>
    <p>Here are a list of our artists.</p>
</div>



@{
    ViewData["Title"] = "Artists";
}

<h2>Index</h2>

<p>
    <!--a asp-action="Login">Create New</!--a-->
</p>

   
        <form method="post" action="/Login">
        <input type="text" id="IdOrName" name="IdOrName" value='@ViewData["IdOrName"]' />
        <select id="userRole">
            <option value="artist" >artist</option>
            <option value="collector">collector</option>
            <option value="seller">seller</option>
            <option value="browser">browser</option>
        </select>
            <input type="submit"/>
            </form>
       

