
@using Microsoft.AspNetCore.Http;
@{
    @model List<ArtModel.Art>
}
<div class="text-center">
    <h1 class="display-4">Artists</h1>
    <p>Here are a list of our artists.</p>
</div>



@{
    ViewData["Title"] = "Arts";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>

            <th>
                Thumb
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
            {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                <div class="display-field">
                    <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" alt="@Html.DisplayFor(modelItem => item.Name)" />
                </div>
            </td>
            @if (Context.Session.GetString("user")=="collector"){
            <td>
                @Html.ActionLink("Bid", "", new { id = item.Id })
            </td>
                }
        </tr>
            }

    </tbody>
</table>
