


@{
    @model ArtModel.ArtistIndexVm;
}
<div class="text-center">
    <h1 class="display-4">Contributing Artists</h1>
    <p>Learn More About our artists and View Their Work.</p>
</div>



@{
    ViewData["Title"] = "Contributing Artists ";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.ArtistStatement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
        <tr>

            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.ArtistStatement)
            </td>

        </tr>
       
    </tbody>
</table>
