@{
    ViewData["Title"] = "Welcome! ";
}

<div class="text-center">
    <h1 class="display-4 logo">Scarcity</h1>
    <p>The Best source for auctioning and collecting digital art in the weberverse.</p>
</div>
<div class="text-center">
    <h1 class="display-4">How <span class="logo">Scarcity</span> works</h1>
    <p class="steps">Step 1: contributing artists submit their art to the scarcity network</p>
    <p class="steps">Step 2: contributing artists negotiate with gallery owners and 'attach' their art to a 'seller'</p>
    <p class="steps">Step 3: Sellers Choose art peices in their galleries and create auctions for Collectors to Bid On</p>
    <p class="steps">Step 4: Collectors Bid on Auctions and compete to own digital art peices</p>
    <p class="steps">Step 5: The System Keeps tracks of winning Bids and Notifies Artsists, Sellers, and Collectors when an auction has closed.</p>
    <p class="steps">Step 6: Collect them all!</p>
    <a class="nav-item" asp-area="" asp-controller="Login" asp-action="Login">LOGIN to get started</a>
</div>