


@{
    @model List<decoratedArt>;
}
<div class="text-center">
    <h1 class="display-4">Oh No!</h1>
    <p>Something Went Wrong with your auction.</p>
</div>



@{
    ViewData["Title"] = "Art";
}

<h2>Your Auction Must Be Set In the future!</h2>


